<div class="container">
  <div
    class="confirm-password-reset-section"
    fxLayout
    fxFill
    fxLayoutAlign="space-around center"
  >
    <div fxFlex="35%"></div>
    <div fxFlex>
      <h3>Reset Your Password</h3>
      <mat-divider></mat-divider>
      <div *ngIf="this.errorMessage">
        <br />
        <mat-error>
          {{ this.errorMessage }}
        </mat-error>
        <br />
      </div>
      <form [formGroup]="this.confirmPasswordResetForm">
        <div fxLayout="row">
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input
              type="password"
              matInput
              placeholder="Password"
              formControlName="password"
            />
            <mat-hint
              >At least 8 characters and must contain 1 lowercase and uppercase
              letter, 1 digit</mat-hint
            >
          </mat-form-field>
        </div>
        <br />
        <br />
        <div fxLayout="row">
          <mat-form-field appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input
              type="password"
              matInput
              placeholder="Confirm Password"
              formControlName="confirm_password"
            />
            <mat-error
              *ngIf="confirmPasswordResetForm.hasError('notSamePasswords')"
            >
              Passwords do not match
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <button
            [disabled]="!this.confirmPasswordResetForm.valid"
            mat-flat-button
            color="accent"
            style="width: 80%"
            (click)="confirmPasswordReset()"
          >
            Reset Password
          </button>
        </div>
      </form>
    </div>
    <div fxFlex="35%"></div>
  </div>
</div>
