<h1 mat-dialog-title>Reset Password</h1>
<div mat-dialog-content>
  <form [formGroup]="this.changePasswordForm">
    <div fxLayout="row">
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          type="password"
          matInput
          placeholder="Password"
          formControlName="password"
        />
        <mat-hint
          >At least 8 characters and must contain 1 lowercase and uppercase
          letter, 1 digit</mat-hint
        >
      </mat-form-field>
    </div>
    <br />
    <br />
    <div fxLayout="row">
      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input
          type="password"
          matInput
          placeholder="Confirm Password"
          formControlName="confirm_password"
        />
      </mat-form-field>
    </div>
    <div fxLayout="row" class="outside-mat-error">
      <mat-error *ngIf="changePasswordForm.hasError('notSamePasswords')">
        Passwords do not match
      </mat-error>
    </div>
  </form>
</div>
<div mat-dialog-actions fxLayoutAlign="space-around center">
  <div fxLayout="row" fxLayoutGap="10px">
    <div fxLayout="column">
      <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    </div>
    <div fxLayout="column">
      <button
        [disabled]="!changePasswordForm.valid"
        mat-raised-button
        color="primary"
        (click)="changePassword()"
      >
        Save
      </button>
    </div>
  </div>
</div>
