<div class="container">
  <div
    class="send-password-reset-email-section"
    fxLayout
    fxFill
    fxLayoutAlign="space-around center"
  >
    <div fxFlex="35%"></div>
    <div fxFlex>
      <h3>Reset Your Password</h3>
      <mat-divider></mat-divider>
      <div *ngIf="this.errorMessage">
        <br />
        <mat-error>
          {{ this.errorMessage }}
        </mat-error>
        <br />
      </div>
      <form [formGroup]="this.sendPasswordResetEmail">
        <div fxLayout="row">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="email" />
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <button
            [disabled]="!this.sendPasswordResetEmail.valid"
            mat-flat-button
            color="accent"
            style="width: 80%"
            (click)="sendResetPasswordEmail()"
          >
            Reset Password
          </button>
        </div>
      </form>
    </div>
    <div fxFlex="35%"></div>
  </div>
</div>
